*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
.idea
/backup
/gradle
OnlinePhoneBook.iml
gradlew
gradlew.bat
settings.gradle
build.gradle
gradle.properties